<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../css/aboutus.css">
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" nomodule></script>
</head>
<body>
    <%-include("navbar")%>
    <div class="container">
        <div class="slides">
            <img src="../assets/aboutus1.png" alt="">
        </div>
        <div class="slides">
            <img src="../assets/aboutus2.png" alt="">
        </div>
        <div class="slides">
            <img src="../assets/aboutus3.png" alt="">
        </div>
    </div>
</body>
</html>