<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us</title>
        <link rel="stylesheet" href="../css/contactus.css">
    </head>
    <body>
        <%-include("navbar")%>
        <img class="bg" src="../assets/bgcontact.png">
        <section class="contact">
            <div class="content">
                <h2>Contact Us</h2>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><ion-icon name="location"></ion-icon>
                        </div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>Jamia Millia Islamia,<br>Jamia Nagar,<br>New Delhi-110025</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><ion-icon name="call"></ion-icon>
                        </div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>+91-123456789</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><ion-icon name="mail"></ion-icon></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>inktrospect@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form id="contactForm">
                        <h2>Send Message</h2>
                        <div class="inputBox">
                            <input type="text" name="fullName" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="email" name="email" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea name="message" required="required"></textarea>
                            <span>Type your Message..</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script src="/js/contactus.js"></script>
    </body>
</html>
