<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="../css/notes.css">
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" nomodule></script>
</head>
<body>
    <%-include("navbar")%>
    <div class="container">
        <div class="notes-head">
            <h1><img src="../assets/notesicon.jpg" alt="" srcset="">Notes</h1> 
            <button class="create-btn"><img src="../assets/notesedit.png" alt="" srcset="">Create Notes</button>
        </div>
        <div class="notes-container"></div>
    </div>
    <script src="../js/notes.js"></script>
</body>
</html>